{% extends 'layout.twig' %}

{% block content %}
    <a href="{{ webroot }}profile">В профайл</a>
    <br>
    <br>
    <table width="100%" border="1">
        <tr style="font-weight: bold;">
            <td>Фото</td>
            <td>Имя:</td>
            <td>Возраст:</td>
            <td>Описание:</td>
            <td>Допуск:</td>
        </tr>
        {% for user in users %}
        <tr>
            <td valign="top"><img style="width: 100px;" src="{{ upload ~ user.ava }}" alt=""></td>
            <td valign="top">{{ user.name }}</td>
            <td valign="top">{{ user.age }}</td>
            <td valign="top">{{ user.about }}</td>
            <td valign="top">{{ user.dopusk }}</td>
        </tr>
            {% endfor %}
    </table>
{% endblock %}